.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 6px;
    background-color: #f3f3f3;
    padding: 8px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactText {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contactDeleteButton {
    border: 1px solid #747474;
    background-color: #f1f1f1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 6px 8px;
}

.contactDeleteButton:hover,
.contactDeleteButton:focus-visible,
.contactDeleteButton:active {
    background-color: #dfdfdf;
}

.contact:has(.contactDeleteBtn:hover,
    .contactDeleteButton:focus-visible,
    .contactDeleteButton:active) {
    border: 1px solid red;
}